<footer>
	<div class="row">
		<div class="small-12 medium-6 columns">
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">Why Ridgeline</a></li>
				<li><a href="">Loan Products</a></li>
				<li><a href="">Consulting</a></li>
				<li><a href="">About Us</a></li>
				<li><a href="">Contact Us</a></li>
			</ul>
		</div>
		<div class="small-12 medium-6 columns copyright">
			<ul>
				<li><a href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
				<li><a href="" target="_blank"><i class="fa fa-youtube"></i></a></li>
			</ul>
			<p>Tel: <a href="tel:15555555555">+1 555 555 5555</a> | Fax: <a href="tel:15555555555">+1 555 555 5555</a></p>
			
			<span>Copyright &copy; 2016 Ridgeline Funding</span>
		</div>
	</div>
</footer>