<header>
	<div class="container">
		<nav>
			<h1 id="logo">
				<a href="{{root}}">RIDGELINE FUNDING</a>
			</h1>
			<button class="menu-icon" type="button" data-toggle="dropdown"></button>
			<ul id="dropdown" class="dropdown menu" data-toggler=".open" data-animate="hinge-in-from-top hinge-out-from-top">
				<li><a href="why-ridgeline.html">WHY RIDGELINE</a></li>
				<li><a href="loan-products.html">LOAN PRODUCTS</a></li>
				<li><a href="consulting.html">CONSULTING</a></li>
				<li><a href="about-us.html">ABOUT US</a></li>
				<li><a href="contact-us.html">CONTACT US</a></li>
			</ul>
		</nav>
		<h2>Specializing in Federal <span>&middot;</span> State <span>&middot;</span> Department of Defense</h2>
	</div>
</header>